body {
	background-image: url('bg4.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
@media only screen and (max-width: 600px){
	div {
	text-align: center;
}
h1{
	text-align: center;
	color: #00ffdc;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	}
p {
	font-size: 30px;
	color: #ff0081;
} 

button {
	margin-right: 8px;
	background-color: #849f09;
	color: white;
}
}
